<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mainbrain.tech.ienbikeambulance">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".main.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="IENBikeAmbulance"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.LandingPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.Home"/>
        <activity android:name=".login.Login"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".login.Verification"/>
        <activity android:name=".login.CheckOTP"/>
        <activity android:name=".track.ServiceRequest"/>
        <activity android:name=".track.RejectionReasons"/>
        <activity android:name=".track.OtherReason"/>
        <activity android:name=".track.Track"/>
        <service
            android:name=".location.FetchAddressIntentService"
            android:exported="false"/>

        <service android:name=".main.MySmackService"/>

        <receiver android:name=".login.SmsReceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>